<div class="spacesheep-banner d-flex align-items-center">
  <div class="container">
    <h1><strong>Wanna discover the Universe ?</strong></h1>
    <p>No Elun Musk needed...</p>
    <p>Trust Spacesheep and rent your own spaceship!</p>
    <%= link_to "See our available spaceships! 🚀", spaceships_path, class: "btn-flat"%>
  </div>
</div>
