<div class="spacesheep-banner d-flex align-items-center">
  <div class="container">
    <h1><strong>Wanna discover the Universe ?</strong></h1>
    <p>No Elun Musk needed...</p>
    <p>Trust Spacesheep and rent your own spaceship!</p>
    <p><span data-controller="typed-js"></span></p>
    <div class="d-flex justify-content-center align-items-center">
    <%= link_to "See our available spaceships! 🚀", spaceships_path, class: "btn-flat"%>
    </div>
  </div>
</div>
