// Background image de l'index de spaceships
.spaceships-index-background-image {
  background-image: url("stars-sky.jpg");
  background-size: cover;
  background-position: center;
  // background-image: linear-gradient(rgba(0,0,0,1));
  // background-color: blue;
}
