.spaceships-index-body {
  // background: rgb(14, 4, 45);
  background: linear-gradient(to right, rgb(39, 2, 97) 0%, rgb(13, 3, 44) 50%, black);
  // background-image: url("stars-sky.jpg");
  // background-size: cover;
  // background-position: center;
}

.star {
  background: #fff;
  position: absolute;
  -webkit-animation: blinkAnim 5s infinite;
  -moz-animation: blinkAnim 5s infinite;
  -ms-animation: blinkAnim 5s infinite;
  -o-animation: blinkAnim 5s infinite;
  animation: blinkAnim 5s infinite;
}

@keyframes blinkAnim {
  50%   { opacity: 0; }
  from { opacity: 1; }
  to   { opacity: 1; }
}
@-webkit-keyframes blinkAnim {
  from { opacity: 1; }
  50%   { opacity: 0; }
  to   { opacity: 1; }
}
