.card-product {
  overflow: hidden;
  height: 120px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin: 20px;
  object-fit: cover ;

}

.card-product img {
  height: 120px;
  width: 170px;
  position: center;
  object-fit:cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.infos-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 16px;
}

#total-price {
  color: $primary;
  font-weight: bold;
  font-size: 18px;
}

#status {
  display: flex;
  align-items: flex-end;
}
