.title-properties {
  // text-align: center;
  font-family: 'IBM Plex Sans Devanagari', sans-serif;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to right, white 0%, white 50%, rgb(65, 3, 163) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-shadow: rgba(255, 255, 255, 0.741) 2px 2px 5px;
  font-size: 50px;
  font-weight: bold;
  
}
